form(action='/profile', method='POST')
    .login-group
        .form-group
            label.sr-only(for='user') Username
            input#user.form-control(type='text', name='newuser', placeholder='How do you want others to see you as?')
    button.login-button(type='submit') submit
-if (nameSent) {
    .login-form-main-message.show.success
        strong Success- 
        | Oh yeaaaaa!
-}