doctype html
html(lang="en")
    head
        include includes/head
    body
        .container.mx-auto#main-frame
            form(action='/test', method='POST')
                .form-group
                    label.sr-only(for='user') Username
                    input#user.form-control(type='text', name='ISBN', placeholder='ISBN')
                button.login-button(type='submit') submit

        include includes/script
